@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Get to know Joel Hilton!</h1>
<br/>
<p>Joel is a lover of film! So much so, in fact, that he minored in Film Studies at BYU and contracts as a movie reviewer for
    ClearPlay! He has a wonderful collection of movies!
<br/>
<h3>Joel performs regularly at Quick Wits Comedy!</h3>
<p><a href="https://www.qwcomedy.com/">Click here</a> to visit the page.</p>
<br/><br/>
<h3>Joel also hosts a podcast about films and pop culture called <a href="https://baconsale.com/">Baconsale!</a></h3>
<a href="https://baconsale.com/">
    <img src="~/img/BaconsaleKate.jpg" alt="Baconsale Logo" style="width: 600px"/>
</a>